a {
	text-decoration: none; color: #56ae56;
	/*border-bottom: solid 1px #56ae56;*/
}

a:not([href]) {
	color: #7E7A68;
	border-bottom: none;
}

abbr {
	border-bottom: dotted 1px;
}

address {
	padding: 20px; background: #444;
	text-align: center; font-family: georgia, sans-serif; font-style: normal; font-weight: bold; font-size: 1em; color: #fff;
}

address a {
	border-bottom: none;
	color: inherit;
}

body {
	margin: 0px; overflow-y: scroll;
	font-family: helvetica, arial, sans-serif; font-size: 14pt; color: #444;
}

h1, h2, h3, h4, h5, h6, p, img {
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, img, var {
	margin-left: auto; margin-right: auto;
	text-align: center;
}

h2 a, h3 a, h4, h5, h6, p {
	display: block; width: 100%; padding-top: 15px; padding-bottom: 15px;
	border-bottom-color: inherit;
	color: inherit;
}

h1 {
	background: #444; padding-top: 20px;
	vertical-align: middle; font-family: georgia, serif; font-size: 1.1em; color: #fff;
}

h1 p {
	padding-bottom: 20px;
	font-size: .8em;
	vertical-align: middle; font-family: georgia, serif; color: #fff;
}

h2 {
	background: #E4DDBE;
	border-bottom: solid 1px #A49F87;
	text-transform: uppercase; font-family: "Arial Black", helvetica, arial, sans-serif; font-size: 1.5em; color: #444;
}

h3 {
	background: #BFB99B;
	border-bottom: solid 1px #A49F87;
	text-transform: uppercase; font-family: "Arial Black", helvetica, arial, sans-serif; font-size: 1em; color: #444;
}

/*

h3 {
	padding: 10px 0px; background: #EBE6CA;
	border-bottom: solid 2px #A49F87;
	color: #949078;
}

h3 span {
	text-transform: none; font-size: .8em;
}

*/

h4 {
	padding-bottom: 0px;
	font-style: italic; font-size: 2em;
}

h4 a {
	color: #444;
	border-bottom: none;
}

h5 {
	padding-top: 2px;
	font-size: 1.3em;
}

h6 {
	width: 50%; margin-bottom: 10px; padding-bottom: 10px;
	border-bottom: solid white 2px;
	font-family: georgia, serif; font-size: .9em; font-style: italic; font-weight: normal; color: #555;
}

@media (max-width: 1024px) {
	h6 { width: 400px; }
}

@media (max-width: 568px) {
	h6 { width: 300px; }
}

h6 a:first-child {
	font-style: normal !important; font-weight: bold !important; font-size: 1.1em;
	/* border-bottom-color: #56ae56; */
}

h6 em {
	display: block;
	font-style: normal;
	/*
	width: 200px; margin-top: 4px; margin-left: auto; margin-right: auto; padding: 3px; background: lightyellow;
	border: solid #eee 1px; border-bottom: solid #aaa 1px;
	color: #777;
	*/
}

/*
p.size, p.color, p.model {
	width: 50%; margin: 5px auto 0px; padding: 4px;
	border: dashed 1px #7E7A68;
	text-align: center;
	font-family: helvetica, arial, sans-serif; font-style: normal; font-size: .9em; font-weight: bold; color: #7E7A68;
}
*/

h6 code {
	display: block; width: 50%; margin-top: 5px; margin-left: auto; margin-right: auto; padding: 4px;
	border: solid 1px #E4DDBE; border-radius: 16px;
	text-align: center;
	font-family: monaco, consolas, monospace; font-style: normal; font-size: .8em; color: #A49F87;
}

h6 code:before {
	content: "Model "
}

/*
h6 summary {
	margin: 4px;
	cursor: pointer;
}
*/

h5 a:visited, h6 a:visited, p a:visited {
	color: #78497C;
	border-bottom-color: #78497C;
}

hr {
	height: 0;
	border: 0; border-bottom: dotted 1px #777;
}

hr.divider {
	border-bottom: solid 2px #BFB99B;
}

img {
	display: block; margin-bottom: 10px;
}

img { max-height: 400px; max-width: 500px; }

@media (max-width: 1024px) {
	img { max-height: 400px; max-width: 400px; }
}

@media (max-width: 568px) {
	img { max-height: 300px; max-width: 300px; }
}

p {
	padding-top: 0px;
	/* font-family: verdana; font-size: .8em; */
}

p.description {
	margin-bottom: 5px;
}

p.origin strong {
	padding: 8px; /* fafaff */
	border: solid 2px #7E7A68;
	font-size: .9em; font-style: normal; color: #7E7A68;
}

p.origin strong a {
	color: #7E7A68;
}

p.discovered {
	display: none;
	margin-top: 15px;
	font-size: .8em; color: #888;
}

p.media a {
	display: inline;
	color: #fff;
	cursor: pointer;
}

p.media a.screen {
	display: none;
}

var {
	display: block; margin-bottom: 40px;
	font-family: georgia; font-style: normal; font-weight: normal; color: #fff;
}

var a {
	width: 100px; margin-right: 10px; padding: 8px; padding-bottom: 9px; vertical-align: middle; background: #6988B8;
	border: solid #5E79A1 1px; border-bottom-width: 3px; border-radius: 10px;
	color: #eee;
}

var a.direct {
	display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px; background-color: #56ae56;
	border-color: #267d26;
	font-size: 1.3em; color: #fff;
}

var strong {
	margin-top: 20px; margin-left: 2px; padding: 5px; background: #5E79A1;
	border-radius: 4px;
	font-family: verdana, helvetica, arial, sans-serif; font-weight: normal; font-size: .7em; color: #eee;
}

/*
var strong {
	padding-top: 6px;
	border-bottom: solid 1px #216B21;
}
*/

var img {
	display: inline; height: 16px; width: 16px; vertical-align: middle;
	margin-left: 4px; margin-top: 8px; padding: 2px; background: #fff;
	border-radius: 2px;
}

var strong img {
	border-bottom: solid 1px #267d26;
}

var a:visited {
	background-color: #78497C;
	border-color: #58365A;
}

var a:visited strong {
	background-color: #58365A;
	border-color: #47194C;
}

var a:visited strong img {
	border-color: #47194C;
}

var sup {
	font-size: .6em;
}

@media (max-width: 510px) {

	var a {
		display: block; width: 90%;
		padding: 0px; padding-top: 5px; margin-left: auto; margin-right: auto; margin-bottom: 4px;
	}

	var a.direct {
		padding: 5px;
	}

}
