hr {
	margin-top: 20px; margin-bottom: 20px;
}

input, select {
	display: block; width: 75%; padding: 4px;
	border: dashed black 1px;
	font-family: verdana;
}

input[type=url] {
	border-color: #56ae56;
	color: #56ae56;
}

input[type=id], input[type=number] {
	display: inline; width: 25%;
	font-family: courier;
}

input[type=radio] {
	display: inline; width: auto;
	font-family: courier;
}

input[type=submit], input[type=button] {
	display: block; width: 100px; padding: 8px; margin-top: 20px; background: #00c;
	border: solid darkblue 1px; border-bottom-width: 3px; border-radius: 10px;
	font-family: georgia; font-style: normal; font-size: 1em; color: white;
	cursor: pointer;
}

input[required] {
	border-style: solid;
}

label {
	border-bottom: solid white 2px;
	font-family: helvetica, arial, sans-serif; font-weight: bold; font-size: 1.1em;
}
