a {
	text-decoration: none; color: #56ae56;
}

a:not([href]) {
	color: #aaa;
}

a[disabled] {

}

abbr {
	border-bottom: dotted 1px;
}

body {
	margin: 0px; overflow-y: scroll;
	font-family: helvetica, arial, sans-serif; font-size: 14pt; color: #444;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, var {
	margin-left: auto; margin-right: auto;
	text-align: center;
}

h1 a, h2 a, h3 a, h4, h5, h6, p {
	display: block; width: 100%; padding-top: 15px; padding-bottom: 15px;
	color: inherit;
}

h1 {
	background: #444;
	vertical-align: middle; font-family: georgia, serif; font-size: 1.1em; color: #fff;
}

h1 span {
	font-size: .8em;
}

h2 {
	background: #BFB99B;
	border-bottom: solid 1px #A49F87;
	text-transform: uppercase; font-family: "Arial Black", helvetica, arial, sans-serif; color: #fff;
}

h3 {
	padding: 10px 0px; background: #EBE6CA;
	border-bottom: solid 2px #A49F87;
	color: #949078;
}

h3 span {
	text-transform: none; font-size: .8em;
}

h4 {
	padding-bottom: 0px;
	font-style: italic; font-size: 2em;
}

h5 {
	padding-top: 2px;
	font-size: 1em;
}

h5 a:visited, h6 a:visited, p a:visited {
	color: #75267D;
}

h6 {
	width: 50%; margin-bottom: 10px;
	border-bottom: solid white 2px;
	font-family: georgia; font-size: 1em;
}

@media (max-width: 1024px) {
	h6 { width: 400px; }
}

@media (max-width: 568px) {
	h6 { width: 300px; }
}

h6 a {
	display: block;
}

h6 span {
	font-weight: normal; font-style: italic; font-size: .9em; color: #555;
}

hr {
	height: 0;
	border: 0; border-bottom: dotted 1px #777;
}

hr.divider {
	border-bottom: solid 2px #777;
}

p {
	padding-top: 0px;
	/* font-family: verdana; font-size: .8em; */
}

p img {
	margin-bottom: 10px;
}

p img { max-height: 400px; max-width: 500px; }

@media (max-width: 1024px) {
	p img { max-height: 400px; max-width: 400px; }
}

@media (max-width: 568px) {
	p img { max-height: 300px; max-width: 300px; }
}

var {
	display: block; margin-bottom: 40px;
	font-family: georgia; font-style: normal; color: #fff;
}

var a {
	width: 100px; margin-right: 10px; padding: 10px; background: #56ae56;
	border: solid #267d26 1px; border-bottom-width: 3px; border-radius: 10px;
	color: inherit;
}

var img {
	height: 16px; width: 16px; vertical-align: middle;
	margin-left: 4px; margin-top: -2px; padding: 2px; background: #fff;
	border-radius: 2px;
}

.homedepot {
	background: rgb(255, 102, 0);
}

.red { border-color: red; }
.maroon { border-color: darkred; }
.orange { border-color: orange; }
.yellow { border-color: yellow; }
.green { border-color: green; }
.darkgreen { border-color: darkgreen; }
.blue { border-color: #00c; }
.purple { border-color: purple; }
.silver { border-color: #999; }
.gray { border-color: #777; }
.gold { border-color: darkgoldenrod; }
.brown { border-color: saddlebrown; }
.black { border-color: black; }

#contents {
	display: block;
	float: right;
	margin-top: 2px;
}
