body {
	margin: 0px; overflow-y: scroll;
	font-family: helvetica, arial, sans-serif; font-size: 14pt; color: #444;
}

a {
	text-decoration: none; color: #56ae56;
	/*border-bottom: solid 1px #56ae56;*/
}

a:not([href]) {
	color: #7E7A68;
	border-bottom: none;
}

b {
	font-weight: normal;
}

p, img {
	margin: 0px;
}

p, img {
	margin-left: auto; margin-right: auto;
	text-align: center;
}

p {
	display: block; width: 100%; padding-top: 15px; padding-bottom: 15px;
	border-bottom-color: inherit;
	color: inherit;
}

p a:visited { /* TODO check this */
	color: #78497C;
	border-bottom-color: #78497C;
}

p.logo, p.sublogo {
	font-weight: bold;
}

p.logo {
	padding-top: 20px; vertical-align: middle; background: #444;
	font-family: georgia, serif; font-size: 1.1em; color: #fff;
}

p.logo img {
	display: inline; margin-bottom: 0px;
}

p.sublogo {
	margin-top: -30px; padding-bottom: 20px; vertical-align: middle; background: #444;
	font-family: georgia, serif; font-size: .8em; color: #fff;
}

p.product, p.producer {
	font-weight: bold;
}

p.department a, p.aisle a {
	color: inherit !important;
}

p.department {
	background: #E4DDBE;
	border-bottom: solid 1px #A49F87;
	text-transform: uppercase; font-family: "Arial Black", helvetica, arial, sans-serif; font-size: 1.5em; color: #444;
}

p.aisle {
	background: #BFB99B;
	border-bottom: solid 1px #A49F87;
	text-transform: uppercase; font-family: "Arial Black", helvetica, arial, sans-serif; font-size: 1em; color: #444;
}

/*

p.aisle {
	padding: 10px 0px; background: #EBE6CA;
	border-bottom: solid 2px #A49F87;
	color: #949078;
}

p.aisle b {
	text-transform: none; font-size: .8em;
}

*/

p.product {
	padding-bottom: 0px;
	font-style: italic; font-size: 2em;
}

p.product a {
	color: #444;
	border-bottom: none;
}

p.producer {
	padding-top: 2px;
	font-size: 1.3em;
}

p.option {
	width: 50%; margin-bottom: 10px; padding-bottom: 10px;
	border-bottom: solid white 2px;
	font-family: georgia, serif; font-size: .9em; font-style: italic; font-weight: normal; color: #555;
}

p.option a.title {
	font-style: normal !important; font-weight: bold !important; font-size: 1.1em;
	/* border-bottom-color: #56ae56; */
}

p.option a.title b {
	font-weight: bold;
}

p.option b.subtitle {
	display: block;
	font-style: normal;
	/*
	width: 200px; margin-top: 4px; margin-left: auto; margin-right: auto; padding: 3px; background: lightyellow;
	border: solid #eee 1px; border-bottom: solid #aaa 1px;
	color: #777;
	*/
}

/*
p.size, p.color, p.model {
	width: 50%; margin: 5px auto 0px; padding: 4px;
	border: dashed 1px #7E7A68;
	text-align: center;
	font-family: helvetica, arial, sans-serif; font-style: normal; font-size: .9em; font-weight: bold; color: #7E7A68;
}
*/

p.option b.model {
	display: block; width: 60%; margin-top: 5px; margin-left: auto; margin-right: auto; padding: 4px;
	border: solid 1px #E4DDBE; border-radius: 16px;
	text-align: center; font-family: monaco, consolas, monospace; font-style: normal; font-size: .8em; color: #A49F87;
}

p.option b.model:before {
	content: "Model ";
}

hr {
	height: 0;
	border: 0; border-bottom: dotted 1px #777;
}

hr.divider {
	border-bottom: solid 2px #BFB99B;
}

img {
	display: block; margin-bottom: 10px;
}

img { max-height: 400px; max-width: 500px; }

p.description, p.origin, p.discovered {
	padding-top: 0px;
	/* font-family: verdana; font-size: .8em; */
}

p.description {
	margin-bottom: 5px;
}

p.origin b a {
	font-weight: inherit; color: #7E7A68;
}

p.origin b b {
	font-weight: inherit;
}

p.origin b.state {
	padding: 8px; /* background: #fafaff; */
	border: solid 2px #7E7A68;
	font-size: .9em; font-weight: bold; color: #7E7A68;
}

/*
p.origin b.state:hover {
	background: #7E7A68;
	color: #fff;
	cursor: pointer;
}
*/

p.origin b.moving {
	padding: 8px; /* background: #fafaff; */
	border: dotted 2px #7E7A68;
	font-size: .9em; font-weight: bold; color: #7E7A68;
}

p.discovered {
	display: none;
	margin-top: 15px;
	font-size: .8em; color: #888;
}

p.merchants {
	display: block; margin-bottom: 40px;
	font-family: georgia; font-style: normal; font-weight: normal; color: #fff;
}

p.merchants a {
	width: 100px; margin-right: 10px; padding: 8px; padding-bottom: 9px; vertical-align: middle; background: #6988B8;
	border: solid #5E79A1 1px; border-bottom-width: 3px; border-radius: 10px;
	color: #eee;
}

p.merchants a.direct {
	display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px; background-color: #56ae56;
	border-color: #267d26;
	font-size: 1.3em; color: #fff;
}

p.merchants b.cents {
	vertical-align: super;
	font-size: .6em;
}

p.merchants b.merchant {
	margin-top: 20px; margin-left: 2px; padding: 5px; background: #5E79A1;
	border-radius: 4px;
	font-family: verdana, helvetica, arial, sans-serif; font-weight: normal; font-size: .7em; color: #eee;
}

/*
p.merchants b.merchant {
	padding-top: 6px;
	border-bottom: solid 1px #216B21;
}
*/

p.merchants img {
	display: inline; height: 16px; width: 16px; vertical-align: middle;
	margin-left: 4px; margin-top: 8px; padding: 2px; background: #fff;
	border-radius: 2px;
}

p.merchants b.merchant img {
	border-bottom: solid 1px #267d26;
}

p.merchants a:visited {
	background-color: #78497C;
	border-color: #58365A;
}

p.merchants a:visited b.merchant {
	background-color: #58365A;
	border-color: #47194C;
}

p.merchants a:visited b.merchant img {
	border-color: #47194C;
}

p.footer {
	padding: 20px 0px 20px 0px; background: #444;
	text-align: center; font-family: georgia, sans-serif; font-style: normal; font-weight: bold; font-size: 1em; color: #fff;
}

p.footer a {
	border-bottom: solid 1px #fff;
	color: inherit;
}

@media (max-width: 1024px) {
	img { max-height: 400px; max-width: 400px; }
	p.option { width: 400px; }
}

@media (max-width: 568px) {
	img { max-height: 300px; max-width: 300px; }
	p.option { width: 300px; }
}

@media (max-width: 510px) {

	p.merchants a {
		display: block; width: 90%;
		padding: 0px; padding-top: 5px; margin-left: auto; margin-right: auto; margin-bottom: 4px;
	}

	p.merchants a.direct {
		padding: 5px;
	}

}
