body {
	margin: 0px; overflow-y: scroll; overflow-x: hidden;
	font-family: helvetica, arial, sans-serif; font-size: 14pt; color: #444;
}

a {
	text-decoration: none; color: #56ae56;
}

a:not([href]) {
	color: #7E7A68;
	border-bottom: none;
}

b {
	font-weight: normal;
}

p, img {
	margin: 0px;
}

p, img {
	margin-left: auto; margin-right: auto;
	text-align: center;
}

p {
	display: block; width: 100%; padding-top: 15px; padding-bottom: 15px;
	border-bottom-color: inherit;
	color: inherit;
}

p a:visited {
	color: #78497C;
	border-bottom-color: #78497C;
}

/*
p.logo {
	display: none;
	padding-top: 30px; padding-bottom: 30px; vertical-align: middle; background: #444;
	font-family: georgia, serif; font-size: 1.1em; font-weight: bold; color: #fff;
}

p.logo img {
	display: inline; margin-bottom: 0px;
}

p.sublogo {
	margin-top: -30px; padding-bottom: 20px; vertical-align: middle; background: #444;
	font-family: georgia, serif; font-size: .8em; color: #fff;
}
*/

#products {
	float: right; width: 75%;
}

p.product, p.producer, p.product b {
	font-weight: bold;
}

p.product a.direct {
	padding: 4px; padding-left: 6px; padding-right: 6px;
	border: solid 1px #56ae56;
}

p.department a, p.aisle a {
	color: inherit !important;
}

p.department {
	background: #E4DDBE;
	border-bottom: solid 1px #A49F87;
	text-transform: uppercase;
	font-family: "Arial Black", helvetica, arial, sans-serif; font-size: 1.5em; font-weight: bold; color: #444;
}

p.aisle {
	background: #BFB99B;
	border-bottom: solid 1px #A49F87;
	text-transform: uppercase;
	font-family: "Arial Black", helvetica, arial, sans-serif; font-size: 1em; font-weight: bold; color: #444;
}

/*

p.aisle {
	padding: 10px 0px; background: #EBE6CA;
	border-bottom: solid 2px #A49F87;
	color: #949078;
}

p.aisle b {
	text-transform: none; font-size: .8em;
}

*/

p.product {
	padding-bottom: 0px;
	font-style: italic; font-size: 2em;
}

p.product a {
	color: #444;
	border-bottom: none;
}

p.producer {
	padding-top: 2px;
	font-size: 1.3em;
}

p.option {
	width: 50%; margin-bottom: 10px; padding-bottom: 10px;
	border-bottom: solid white 2px;
	font-family: georgia, serif; font-size: .9em; font-style: italic; font-weight: normal; color: #555;
}

p.option a.title {
	font-style: normal !important; font-weight: bold !important; font-size: 1.1em; color: #444 !important;
	/* border-bottom-color: #56ae56; */
}

p.option a.title b {
	font-weight: bold; color: #6C6852;
}

p.option b.subtitle {
	display: block;
	font-style: normal; color: #6C6852;
	/*
	width: 200px; margin-top: 4px; margin-left: auto; margin-right: auto; padding: 3px; background: lightyellow;
	border: solid #eee 1px; border-bottom: solid #aaa 1px;
	color: #777;
	*/
}

/*
p.size, p.color, p.model {
	width: 50%; margin: 5px auto 0px; padding: 4px;
	border: dashed 1px #7E7A68;
	text-align: center;
	font-family: helvetica, arial, sans-serif; font-style: normal; font-size: .9em; font-weight: bold; color: #7E7A68;
}
*/

p.option b.model {
	display: block; width: 60%; margin-top: 5px; margin-left: auto; margin-right: auto; padding: 4px;
	border: solid 1px #E4DDBE; border-radius: 16px;
	text-align: center; font-family: monaco, consolas, monospace; font-style: normal; font-size: .8em; color: #6C6852;
}

p.option b.model:before {
	content: "Model ";
}

p.option b.dimensions {
	display: none;
	border: dashed 1px #222;
}

a.nav {
	display: block;
	padding-bottom: 20px; background: #444;
	border-bottom: solid white 2px;
	text-align: center; text-transform: uppercase;
	font-family: "arial black", helvetica, sans-serif; font-size: 3em;
	color: #E4DDBE !important;
}

hr {
	height: 0;
	border: 0; border-bottom: dotted 1px #777;
}

hr.divider {
	border-bottom: solid 2px #BFB99B;
}

img {
	display: block; margin-bottom: 10px;
}

img { max-height: 400px; max-width: 500px; }

p.description, p.origin, p.discovered {
	padding-top: 0px;
	/* font-family: verdana; font-size: .8em; */
}

p.description {
	width: 75%;
	margin-bottom: 5px;
}

p.origin b a {
	font-weight: inherit; color: #7E7A68;
}

p.origin b b {
	font-weight: inherit;
}

p.origin b.state {
	padding: 8px; /* background: #fafaff; */
	border: solid 2px #7E7A68;
	font-size: .9em; font-weight: bold; color: #7E7A68;
	cursor: pointer;	
}

p.origin b.address {
	display: block; margin-top: 30px;
	font-family: courier, monospace; font-size: .9em;
}

p.origin b.address a, p.origin b.address b {
	display: block;
}

/*
p.origin b.state:hover {
	background: #7E7A68;
	color: #fff;
	cursor: pointer;
}
*/

p.origin b.moving {
	padding: 8px; /* background: #fafaff; */
	border: dotted 2px #7E7A68;
	font-size: .9em; font-weight: bold; color: #7E7A68;
}

p.origin b.address, p.origin b.since {
	display: none;
}

p.discovered {
	display: none;
	margin-top: 15px;
	font-size: .8em; color: #888;
}

p.sellers {
	display: block; margin-bottom: 40px;
	font-family: georgia; font-style: normal; font-weight: normal; color: #fff;
}

p.sellers a.direct {
	width: 100px; margin-right: 10px; padding: 8px; padding-bottom: 9px; vertical-align: middle; background: #6988B8;
	border: solid #5E79A1 1px; border-bottom-width: 3px; border-radius: 10px;
	color: #eee;
}

p.sellers b.kind {
	display: block; width: 25%;
	margin-left: auto; margin-right: auto; margin-bottom: 10px;
	border-bottom: solid 1px #aaa;
	font-family: verdana; font-size: .8em; font-weight: bold; color: #777;
}

p.sellers a.msrp {
	display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px; background-color: #fff;
	font-size: 1.3em; color: #56ae56;
}

p.sellers a.msrp {
	margin-top: 15px;
}

p.sellers a.msrp b.price {
	padding: 6px;
	border: solid #777 1px; border-bottom-width: 2px;
	color: #777;
}

p.sellers a.direct {
	display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px; background-color: #56ae56;
	border-color: #267d26;
	font-size: 1.3em; color: #fff;
}

p.sellers a.merchant {
	background-color: #fff;
	border-color: red; border-radius: 0px;
}

p.sellers b.cents {
	vertical-align: super;
	font-size: .6em;
}

p.sellers b.seller { /* ? */
	margin-top: 20px; margin-left: 2px; padding: 5px; background: #5E79A1;
	border-radius: 4px;
	font-family: verdana, helvetica, arial, sans-serif; font-weight: normal; font-size: .7em; color: #eee;
}

p.sellers img {
	display: inline; vertical-align: middle; max-height: 32px; max-width: 64px;
	padding: 5px;
	border: solid 4px #56ae56; border-radius: 4px;
}

p.sellers a:visited img {
	border: solid 10px #78497C !important;
}

.menu {
	position: fixed; float: left; width: 25%; height: 100%; overflow-y: auto; background: #555;
	border-right: solid 2px #444;
	font-family: "Arial Black", helvetica, arial, sans-serif;
}

.menu a {
	display: block;
	margin: 10px; margin-bottom: 10px; padding-bottom: 4px;
	border-bottom: solid 1px #BFB99B;
	text-transform: uppercase;
	font-weight: bold; color: #E4DDBE;
}

.menu a:hover {
	color: #fff;
	border-bottom-color: #fff;
}

.menu a.logo {
	padding-bottom: 10px;
	text-align: center;
	font-family: georgia, serif; font-size: 1.5em; font-weight: bold; color: #fff;
}

.menu .toggle {
	display: block;
	text-align: center;
	font-family: georgia, serif; font-size: .8em;
	cursor: pointer;
}

.menu a.active {
	margin-bottom: -1px;
	border-bottom: solid 2px #fff;
	color: #fff;
}

#top {
	display: none; overflow-y: hidden;
}

#top a.logo {
	padding: 0px;
	border: none;
}

#top a:last-child {
	margin-bottom: 10px;
}

p.footer {
	padding: 20px 0px 20px 0px; background: #444;
	text-align: center; font-family: verdana, sans-serif; font-style: normal; font-weight: bold; font-size: .7em; color: #fff;
}

p.footer a {
	color: inherit;
}

p.footer b a {
	font-weight: inherit;
}

p.footer b b {
	font-weight: inherit;
}

p.footer img {
	display: inline;
}

p.footer b.state {
	padding: 8px;
	border: solid 2px #7E7A68;
	font-weight: bold;
	cursor: pointer;
}

@media (max-width: 1024px) {
	img { max-height: 400px; max-width: 400px; }
	p.option { width: 400px; }
}

@media (max-width: 786px) {
	#products { width: 100%; }
	.menu { position: static; width: 100%; height: auto; }
	.menu a { display: none; }
	#top, #top a.logo { display: block !important; }
	/* Static rendition: problem is scrolling menu on small height screen */
	/* #products { margin-top: 84px; } */
	/* .menu { width: 100%; height: auto; opacity: .9; background: #444; } */
}

@media (max-width: 568px) {
	img { max-height: 300px; max-width: 300px; }
	p.option { width: 300px; }
}

@media (max-width: 510px) {

	p.merchants a {
		display: block; width: 90%;
		padding: 0px; padding-top: 5px; margin-left: auto; margin-right: auto; margin-bottom: 4px;
	}

	p.merchants a.direct {
		padding: 5px;
	}

}
