.red { border-color: red !important; }
.maroon { border-color: darkred !important; }

.orange { border-color: orange !important; }
.peach { border-color: #E8C088 !important; }
.amber { border-color: #F3AE2E !important; }

.yellow { border-color: yellow !important; }
.lightyellow { border-color: #F6EDAB !important; }

.green { border-color: green !important; }
.lime { border-color: rgb(163, 224, 85) !important; }
.olive { border-color: #939739 !important; }
.teal { border-color: #92BD88 !important; }
.darkgreen { border-color: darkgreen !important; }

.turquoise { border-color: #1C6E81 !important; }
.blue { border-color: #00c !important; }
.lightblue { border-color: lightblue !important; }

.indigo { border-color: #4D6089 !important; }

.purple { border-color: purple !important; }

.white { border-color: #eee !important; }
.gray { border-color: #777 !important; }
.silver { border-color: #999 !important; }
.coal { border-color: #444 !important; }
.black { border-color: black !important; }

.gold { border-color: darkgoldenrod !important; }
.brown { border-color: saddlebrown !important; }
.tan { border-color: #EDB274 !important; }
.beige { border-color: #E2DAC7 !important; }

.homedepot img { background: #fe6a00 !important; }
.knifecenter img { background: #f15a2b !important; }
.casa img { background: #84a5ae !important; }
.sears img { background: #1B3E93 !important; }

.out-of-stock { display: none !important; }
