body {
	margin: 0px; overflow-y: scroll;
	font-family: helvetica, arial, sans-serif; font-size: 14pt; color: #444;
}

a {
	text-decoration: none; color: #56ae56;
}

a:not([href]) {
	color: #7E7A68;
	border-bottom: none;
}

b {
	font-weight: normal;
}

p, img {
	margin: 0px;
}

p, img {
	margin-left: auto; margin-right: auto;
	text-align: center;
}

p {
	display: block; width: 100%; padding-top: 15px; padding-bottom: 15px;
	border-bottom-color: inherit;
	color: inherit;
}

p a:visited {
	color: #78497C;
	border-bottom-color: #78497C;
}

p.logo {
	padding-top: 30px; padding-bottom: 30px; vertical-align: middle; background: #444;
	font-family: georgia, serif; font-size: 2em; font-weight: bold; color: #fff;
}

p.logo img {
	display: inline; margin-bottom: 0px;
}

p.sublogo {
	margin-top: -30px; padding-bottom: 20px; vertical-align: middle; background: #444;
	font-family: georgia, serif; font-size: .8em; color: #fff;
}

p.heading {
	background: #E4DDBE;
	border-bottom: solid 1px #A49F87;
	font-family: helvetica, arial, sans-serif; font-size: 1.5em; font-style: italic; font-weight: bold; color: #444;
}

p.heading a {
	color: #444;
	border-bottom: none;
}

p.details {
	padding-left: 10px; padding-right: 10px; background: #FCFAF1;
	border-bottom: solid 1px #FAF6E4;
}

p.producers a img, p.products img, p.merchants img {
	vertical-align: middle;
	max-width: 64px;
}

p.producers img {
	vertical-align: middle;
	max-height: 64px; max-width: 64px;
}

p.merchants img {
	max-width: 48px;
}

a.sign {
	display: block; width: 25%; min-width: 200px;
	margin-left: auto; margin-right: auto;
	margin-top: 20px; margin-bottom: 10px; padding: 8px; background: #56ae56;
	border: solid 1px #267d26; border-bottom: solid 2px #267d26 !important; border-radius: 4px;
	text-align: center;
	font-size: 1.5em; font-weight: bold; color: #fff !important;
}

p.story img {
	width: 45%;
}

p.left {
	float: left; width: 50%;
	text-align: center;
}

p.right {
	float: right; width: 50%;
	text-align: center;
}

small {
	font-size: .8em; color: #777;
}

time {
	font-family: georgia; font-size: 2em;
}

p.footer {
	padding: 20px 0px 20px 0px; background: #444;
	text-align: center; font-family: georgia, sans-serif; font-style: normal; font-weight: bold; font-size: 1em; color: #fff;
}

p.footer a {
	border-bottom: solid 1px #fff;
	color: inherit;
}

@media (max-width: 1024px) {
	img { max-height: 400px; max-width: 400px; }
	p.option { width: 400px; }
}

@media (max-width: 568px) {
	img { max-height: 300px; max-width: 300px; }
	p.option { width: 300px; }
}
