body {
	font-family: georgia, times, serif; color: #444;
}

a {
	text-decoration: none;
	color: #444;
}

hr {
	height: 0; margin-left: 5px; margin-right: 5px;
	border: 0; border-bottom: solid 1px #aaa;
}

hr.divider {
	margin-top: 20px;
	border-bottom: none;
}

img {
	max-height: 64px; max-width: 64px;
	float: left;
	display: none;
}

p.logo, p.department, p.aisle, p.product, p.option {
	margin: 5px;
}

p.logo, p.department {
	margin: 20px 5px;
}

p.department {
	border-bottom: solid 3px #444;
}

p.aisle {
	margin-top: 30px; margin-bottom: 10px;
	border-bottom: solid 2px #777;
	font-size: 1.4em;
}

p.product, p.producer {
	display: inline;
	margin-top: 20px;
	font-size: 1.2em;
}

p.producer {
	margin-left: -4px;
	font-size: 1em;
}

p.option {
	display: inline; padding-left: 5px;
	border-left: solid 15px white;
	font-size: 1em;
}

p.option b.subtitle {
	font-size: .8em;
}

p.option b.model {
	padding: 4px;
	border: solid 1px #E4DDBE; border-radius: 8px;
	font-size: 1em; font-weight: normal; color: #A49F87;
}

p.description, p.origin, p.discovered, {
	display: none
}

p.merchants {
	display: inline;
}

p.merchants a {
	display: none; float: right;
	margin-top: -6px; margin-left: 10px; padding: 3px;
	font-weight: bold;
}

p.merchants a.direct {
	display: block;
}

p.footer {
	margin: 20px 5px; padding-top: 10px;
	border-top: solid 3px #444;
}

p.footer a {
	border-bottom: solid 1px #444;
}
